TPS_Dughetti_Luciana/.vsconfig
TPS_Dughetti_Luciana/.vs
*.csproj
*.suo
*.sln
TPS_Dughetti_Luciana/Library/
TPS_Dughetti_Luciana/Logs/
TPS_Dughetti_Luciana/Temp/
TPS_Dughetti_Luciana/UserSettings/
TPS_Dughetti_Luciana/obj/
Builds/